/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: MicrosoftJhengHeiRegular;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration:none;
}
li {
    list-style-type: none;  
}
img {
    max-width: 100%;
    height: auto;
}
/*header CSS*/
.html-clear{
    clear: both;
}
.wrap{
    max-width: 1049px;
    margin: 0 auto;
    background: #EFE9E7;
}
/*header*/
.header-img {
    height: 420px;
    background-image: url(../img/header_desktop.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}
@media (max-width:768px){
    .header-img{
        background-image: url(../img/header_mobile.png)
    }
}
/*header-menu*/
.header-menu{
    height: 60px;
    background: rgba(0,0,0,0.75);
}
/*logo*/
.menu-logo{
    float: left;
    height: 35px;
}
.menu-logo a{
    font-weight: bold;
    margin-left: 10px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: NotoSansCJKtc-Black;
}
.menu-logo h1{
    margin-top: 17px;
}
/*menu-btn*/
.menu-btn{
    float: right;
    margin-top: 17px;
}
.menu-btn li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-btn ul li a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu-btn ul li a:hover{
    font-size: 20px;
}
.menu-bar {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0;
    z-index: 13;
}
.menu-bar i{
    color: rgb(255, 255, 255);
}
.menu-bar i.active{
    color: black;
}
.menu-hb{
    width: 100%;
    display: none;
    background-color: rgb(255, 255, 255,0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
}
.menu-hb ul{
    padding-top: 20%;
}
.menu-hb li{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.menu-hb a{
    color: black;
}

@media (max-width:768px){
    .menu-btn{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .menu-hb{
        height: 100%;
    }
    .menu-hb a:hover{
        color: blue;
    }
    .menu-bar a:hover{
        font-size: 17px;;
    }
}
/*header-say*/
.header-say{
    width: 460px;
    background-color: rgba(0, 0, 0,0.35);
    position: relative;
    top:25%;
    left: 30%;
    z-index: 1;
}
.header-say h2{
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    padding: 16px;
}
.header-say p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
}
@media (max-width:768px){
    .header-say{
        width: 300px;
        height: 194px;
        top: 15%;
    }
}
@media (max-width:736px){
    .header-say{
        left: 30%;
    }
}
@media(max-width:568px){
    .header-say{
        left: 25%;
    }
}
@media(max-width:414px){
    .header-say{
        left: 13%;
    }
}
@media(max-width:375px){
    .header-say{
        left: 10%;
    }
}
@media (max-width:320px){
    .header-say{
        left: 2.5%;
    }
}
@media(max-width:319px){
    .header-say{
        left: auto;
        width: auto;
    }
}
/*content CSS*/
.content-left{
    min-width: 220px;
    float: left;
    padding: 40px 0 0 40px;
}
.content-left a{
    font-size: 16px;
    color: #3D1101;
    line-height: 32px;
    min-width: 220px;
}
.content-left span{
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
}
.content-left i{
    color: #3D1101;
}
.content-left li{
    border-width: thin medium thick 10px ;
}
.content-left a:hover{
    background-color: #3D1101 ;
    color: #FFFFFF;
}
.content-right{
    overflow: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}
.content-right li{
    width: 220px;
    float: left;
    width: 31.33333;
    margin-left: 1%;
    margin-right: 1%;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    margin-top: 30px;
}
.right-search{
    display: inline;
    border: 4px solid #3D1101;
    margin-left: 5px;
}
.content-right-img{
    height: 120px;
    background-size: cover;
    background-position: center center;
}
.content-right-img i{
    color: white;
}
.content-right-img i:hover{
    font-size: 35px;
}
.content-right .food-title,.content-right p,.money{
    text-align: center;
    font-size: 20px;
    color: #3D1101;
    display: block;
}
.content-right p{
    font-size: 12px;
    margin-top: 8px;
}
.content-right .food-title{
    margin-top: 11px;
}
.money{
    font-family: Roboto-Light; 
}
.content-right button{
    min-width: 100%;
    height: 28px;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    margin-top: 40px;
    background-color: #EFE9E7;
}
.content-right .pure-form .right-search span{
    margin-left: -4px;
}
.content-right .pure-form .right-search input{
    width: 55%;
    padding: 0 0;
    border: 0;
    box-shadow: inset 0 0 0 #ddd;
    border-radius: 0;
    vertical-align: baseline;
}
.pure-form{
    padding-top: 25px; 
}
.content-right .pure-form a{
    color: #3D1101;
}
.content-right .pure-form .search{
    background: #3D1101;
    color: white;
    padding-left: 4px;
}
.content-car{
    padding-left: 10%;
}
.content-right button:hover{
    background-color: #FF5E45;
}
.content-left li.active{
    background: #3D1101;
    
}
.content-left a.active{
    color: #FFFFFF;
}
@media (max-width:768px){
    body{
        background-color: #EFE9E7;
    }
    .content-left{
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-left hr{
        width: 98%;
        text-align: center;
    }
    .content-right{
        padding: 0;
    }
    .content-right li{
        float: none;
        width: 98%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
@media(max-width:480px){
    .content-right .pure-form .right-search input{
        display: inline; 
    }
}
@media(max-width:360px){
    .content-car{
        padding-left: 5%;
    }
}
@media (max-width:320px){
    .content-car{
        margin: 0;
        padding-left: 15px;
    }
}
/*footer CSS*/
.footer{
    background-color: #efe9e7;
    clear: both;
}
.footer-inform{
    padding: 50px 0 150px 43px;
}
.footer-inform span{
    font-size: 24px;
    color: #3D1101;
}
.footer-inform p{
    font-size: 16px;
    color: #3D1101;
    margin-top: 14px;
    line-height: 24px;
}
.footer-inform ul{
    float: right;
}
.footer-inform li{
    float: left;
    width: 29.3333%;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
}
@media (max-width:768px){
    .footer-inform{
        padding: 0;
    }
    .footer-inform h1{
        padding: 50px 0;
    }
    .footer-inform ul{
        float: none;
    }
    .footer-inform li{
        float: none;
        width: 96%;
        padding-top: 30px;
        padding-left: 10px;
    }
    .footer-logo img{
        padding: 40px 0 ;
        margin: 0 auto; 
    }
}